.App {
  text-align: center;
}
.requests{
  text-align: center;
}
.requestTable {
 
  width:100%;
  border: 1px solid black;
  
}
.requestTableth{
  border: 1px solid black;

}
.eachProduct{
  text-align: left;
}
.eachProduct1{
  background-color: #E44235
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Logo{
 position: absolute;
 margin-left: 120px;
 margin-top:-55px;
}